$black: #232323;
$dark-grey: #424242;
$grey: #555;
$light-grey: #9e9e9e;
$white: #fff;
$red: #f65261;
$dark-red: #d32f2f;
$green: #a1e55f;

$small-mobile-size: 350px;
$mobile-size: 450px;
$small-tablet-size: 730px;
$tablet-size: 960px;
$small-desktop-size: 1600px;
