@font-face {
    font-family: 'OpenSans';
    src: url('../sources/fonts/opensans-regular-webfont.eot');
    src: url('../sources/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../sources/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../sources/fonts/opensans-regular-webfont.woff') format('woff'),
         url('../sources/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../sources/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}